body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei, '微软雅黑', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
#sidebar ul {
    float: left;
    margin: 0;
    list-style: outside none none;
    padding-left: 0;
    content: " ";
    display: table;
}

#sidebar ul li {
    float: left;
    display: block;
    position: relative;
}

#sidebar ul li a {
    padding: 15px;
    position: relative;
    display: block;
    color: #777;
}

#back_to_top {
    display: none;
    position: fixed;

    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 60px;
    margin-left: 10px;

    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;

    border-radius: 5px;
    background-color: #AAA;
}

#back_to_top:hover {
    background-color: #444;
    cursor: pointer;
}

#edit {
    display: none;
    position: fixed;

    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 90px;
    margin-left: 10px;

    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;

    border-radius: 5px;
    background-color: #AAA;
}

#edit:hover {
    background-color: #444;
    cursor: pointer;
}

#loading, #error {
    display: none;
    position: fixed;

    height: 17px;
    top: 45%;

    margin-left: 560px;

    font-size: 14px;
    font-weight: bold;
}

input[type=search] {
    display: block;
    width: 180px;

    text-align: left;
}

.fragments {
    margin: 0;
    padding: 10px;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.fragment {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    /* border: 1px solid #777; */
    /* border-radius: 5px; */
}

.search_results .link {
    margin-top: 35px;
}

#hide {
    display: none;
}
